<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial -scale =1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Career Levels - All events</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet"
          th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}"/>

    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/footer-distributed-with-address-and-phones.css"
          th:href="@{/css/footer-distributed-with-address-and-phones.css}"/>

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf8"
            th:src="@{/DataTables-1.10.15/media/js/jquery.dataTables.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/DataTables-1.10.15/media/css/jquery.dataTables.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.15/sorting/datetime-moment.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('dd/MM/YYYY HH:mm:ss');
            $("#myTable1").dataTable({
                "order": [[3, "asc"]]
            });
        })
    </script>

    <script type="text/javascript">
        $(document).on('show.bs.modal', '.modal', function () {
            var zIndex = 1040 + (10 * $('.modal:visible').length);
            $(this).css('z-index', zIndex);
            setTimeout(function () {
                $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
            }, 0);
        });

    </script>

    <script type="text/javascript">
        $(document).on("click", ".updateCommentDialog", function (e) {

            e.preventDefault();

            var _self = $(this);

            var myUpdateCommentId = _self.data('id');

            $("#updateCommentId").val(myUpdateCommentId);

            $(_self.attr('href')).modal('show');
        });
    </script>


    <script type="text/javascript">
        function changeFormValues(currentId) {
            document.getElementById('eventIdEdit').setAttribute('value',
                    currentId);
        }
    </script>

    <script type="text/javascript">
        function assignResponsibilityCard(currentId) {
            document.getElementById('responsibilityCardIdAssign').setAttribute('value',
                    currentId);
        }
    </script>

    <script>
        function deleteEvent(eventId) {
            var xhttp;
            xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/remove-event?id="
                    + eventId, true);
            xhttp.send();

            var element = document.getElementById('row' + eventId);
            element.parentNode.removeChild(element);
            location.reload();
        }
    </script>

    <script>
        function deleteComment(commentId) {
            var xhttp;
            xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/remove-comment?id="
                    + commentId, true);
            xhttp.send();
            location.reload();
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $('#eventDate').datetimepicker({
                format: 'YYYY/MM/DD HH:mm'
            });

        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#dateEdit').datetimepicker({
                format: 'YYYY/MM/DD HH:mm'
            });

        });
    </script>

</head>

<body>
<div th:include="header :: headster"></div>


<div class="" style="padding-left: 20%; padding-right: 20%;">
    <div class="col-lg-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading" style="margin-bottom: 10px;">
                <h3 class="panel-title">
                    <i class="fa fa-money fa-fw"></i>All events
                    <!--              <a class="btn1 icon-btn btn-success" href="#"> -->
                    <!--                <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span> -->
                    <!--                  Add -->
                    <!--              </a> -->
                    <button type="button"
                            class="btn1 icon-btn btn-success glyphicon btn-glyphicon glyphicon-plus  text-success"
                            data-toggle="modal" data-target="#Create">Create
                    </button>
                </h3>

            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="myTable1" class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Place</th>
                            <th>Participants</th>
                            <th>Info</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ae : ${availableEvents}" th:id="'row' + ${ae.id}">
                            <div class="container">
                                <div class="modal fade" th:id="'eventInfo' + ${ae.id}" tabindex="-1" role="dialog"
                                     aria-labelledby="Login" aria-hidden="true">
                                    <div class="modal-dialog modal-sm-2">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h5 class="modal-title">General event info</h5>
                                            </div>
                                            <div class="modal-body" style="height: 500px; overflow-y: auto;">
                                                <form th:id="'eventInfoForm'+${ae.id}">
                                                    <!-- The form is placed inside the body of modal -->
                                                    <h2 style="padding-left: auto; padding-right: auto; text-align: center;">
                                                        <span th:text="${ae.name}"></span><span style="font-size: 14px;"
                                                                                                th:text="' created by  ' + ${ae.userAuthor.firstName} + ' ' + ${ae.userAuthor.lastName}"></span><br>
                                                    </h2>
                                                    <h4 style="padding-left: auto; padding-right: auto; text-align: center;">
                                                        <span th:text="${ae.description}"></span>
                                                    </h4>
                                                    <h4><span class="glyphicon glyphicon-calendar"></span><span
                                                            th:text="' ' + ${#dates.format(ae.date, 'dd/MM/yyyy HH:mm')}"></span>
                                                    </h4>
                                                    <h4><span class="glyphicon glyphicon-map-marker"></span><span
                                                            th:text="' ' + ${ae.place}"></span></h4>
                                                    <hr>
                                                    <h4>Who is going <span class="badge" th:text="${numberOfAttendersPerEvent.get(ae.id)}"></span> : </h4>
                                                    <ul class="list-group" style="width: 100px;  display:inline;">
                                                        <li class="list-group-item" th:each="att: ${attenders}"
                                                            th:if="${(att[0] == ae.id) and (att[1].id != ae.userAuthor.id)}">

                                                            <span th:text="${att[1].firstName} + ' ' + ${att[1].lastName} + ' : '"></span>
                                                            <span th:text="${att[2].text}" style="font-size: 100%"
                                                                  class="label label-primary"></span>
                                                            <a th:if="${att[1].id == currentUser.id}" class="badge"
                                                               style="text-align:right; cursor: pointer;"> <span
                                                                    class="updateCommentDialog glyphicon glyphicon-pencil"
                                                                    href="#updateCommentModal"
                                                                    th:attr="data-id=${att[2].id}"></span></a>
                                                            <a th:if="${att[1].id == currentUser.id} and ${att[2].text != ''}"
                                                               class="badge" style="text-align:right; cursor: pointer;"
                                                               th:onclick="'javascript:deleteComment(\'' + ${att[2].id} +'\');'">
                                                                <span class="glyphicon glyphicon-trash"></span></a>
                                                            <span th:text="${#dates.day(att[2].date) + ' ' + #dates.monthNameShort(att[2].date) + ', ' + #dates.format(att[2].date, 'HH:mm')}"
                                                                  class="badge"></span>
                                                        </li>
                                                    </ul>

                                                    <br>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button th:if="${#bools.isFalse(eventAttendMap.get(ae.id))}"
                                                        th:value="${eventAttendMap.get(ae.id)}"
                                                        class="btn btn-primary d-inline-block openJoinModal"
                                                        th:attr="data-id=${ae.id}" href="#joinEventModal">Join
                                                </button>
                                                <div th:if="${(#bools.isTrue(eventAttendMap.get(ae.id)))} and ${(currentUser.id != ae.userAuthor.id)}">
                                                    <form id="leaveForm"
                                                          th:action="@{/leave-event}" action="#"
                                                          class="form-horizontal">
                                                        <input type="hidden" name="leaveEventId"
                                                               id="leaveEventId" th:value="${ae.id}"/>
                                                        <input type="hidden" name="leaveUserId" id="leaveUserId"
                                                               th:value="${currentUser.id}">
                                                        <button style="margin-left: 10px;"
                                                                onclick="document.getElementById('leaveForm').submit()"
                                                                class="btn btn-success d-inline-block">Leave
                                                        </button>
                                                    </form>
                                                </div>
                                                <button th:if="${currentUser.id == ae.userAuthor.id}"
                                                        th:onclick="'javascript:changeFormValues(\'' + ${ae.id} + '\');'"
                                                        class="btn btn-info d-inline-block" data-toggle="modal"
                                                        data-target="#Edit">Edit
                                                </button>
                                                <button th:if="${currentUser.id == ae.userAuthor.id}"
                                                        th:onclick="'javascript:deleteEvent(\'' + ${ae.id} +'\');'"
                                                        class="btn btn-danger d-inline-block">Delete
                                                </button>
                                                <button type="button" class="btn btn-default d-inline-block"
                                                        data-dismiss="modal">Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <td th:id="'id-'+ ${ae.id}" th:text="${ae.id}"></td>
                            <td th:text="${ae.name}"></td>
                            <td th:text="${ae.description}"></td>
                            <td th:text="${#dates.format(ae.date, 'dd/MM/YYYY HH:mm:ss')}"></td>
                            <td th:text="${ae.place}"></td>
                            <td height="100">
                                <div style="height: 100px; overflow: auto">
                                    <span th:text="'Author : ' + ${ae.userAuthor.firstName} + ' ' + ${ae.userAuthor.lastName}"></span><br>
                                    Attenders <span th:text="${numberOfAttendersPerEvent.get(ae.id)}"></span> :
                                    <ul>
                                        <li th:each="att : ${attenders}"
                                            th:if="${(att[0] == ae.id) and (att[1].id != ae.userAuthor.id)}"
                                            th:text="${att[1].firstName} + ' ' + ${att[1].lastName}">
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td width="50">
                                <a class="glyphicon glyphicon-info-sign" type="button"
                                   style="padding-left: 30%; padding-top: 20%;" data-toggle="modal"
                                   th:attr="data-target='#eventInfo' + ${ae.id}">
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add form -->
<div class="container">
    <div class="modal fade" id="Create" tabindex="-1" role="dialog"
         aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm-2">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Add</h5>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="createForm" method="post" class="form-horizontal"
                          th:action="@{/create-event}" action="#">

                        <div class="form-group">
                            <label class="col-xs-3 control-label">Title <span
                                    class="asteriskField"> * </span>
                            </label>
                            <div class="col-xs-5">
                                <input class="form-control" id="title" name="title"
                                       value="" required
                                       aria-required="true" minlength="4" maxlength="30"
                                       aria-describedby="name-format" placeholder="Enter a title"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Description <span
                                    class="asteriskField"> * </span>
                            </label>
                            <div class="col-xs-5">
                                <input class="form-control" id="description" name="description"
                                       value="" required
                                       aria-required="true" minlength="4" maxlength="30"
                                       aria-describedby="name-format" placeholder="Enter a description"/>
                            </div>
                        </div>
                        <div class="form-group ">

                            <label class="col-xs-3 control-label" for="eventDate"> Date <span
                                    class="asteriskField"> * </span>
                            </label>

                            <div class="input-group datetimepicker" style="text-align: center; vertical-align: middle;">
                                <input class="form-control" id="eventDate"
                                       name="eventDate" type="text"
                                       required/>
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"> </span>
                                    </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-xs-3 control-label">Place <span
                                    class="asteriskField"> * </span>
                            </label>
                            <div class="col-xs-5">
                                <input class="form-control" id="place" name="place"
                                       value="" required
                                       aria-required="true" minlength="4" maxlength="30"
                                       aria-describedby="name-format" placeholder="Enter a place"/>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="eventInfo" tabindex="-1" role="dialog"
         aria-labelledby="Login" aria-hidden="true">


        <div class="modal-dialog modal-sm-2">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">General info</h5>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <h3><span></span></h3>
                    <form id="eventInfoForm">

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Edit form -->
<div class="container">
    <div class="modal fade" id="Edit" tabindex="-1" role="dialog"
         aria-labelledby="Login" aria-hidden="true">


        <div class="modal-dialog modal-sm-2">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Edit</h5>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="editForm"
                          th:action="@{/edit-event}" action="#"
                          class="form-horizontal">
                        <input type="hidden" name="eventId"
                               id="eventIdEdit" value=""/>

                        <div class="form-group">
                            <label class="col-xs-3 control-label">Title <span
                                    class="asteriskField"> * </span>
                            </label>
                            <div class="col-xs-5">
                                <input class="form-control" name="titleEdit" id="titleEdit"
                                       value="" required type="text"
                                       aria-required="true" aria-describedby="name-format"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-3 control-label">Description <span
                                    class="asteriskField"> * </span>
                            </label>
                            <div class="col-xs-5">
                                <input class="form-control" name="descriptionEdit" id="descriptionEdit"
                                       value="" required type="text"
                                       aria-required="true" aria-describedby="name-format"/>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="col-xs-3 control-label" for="dateEdit"> Date <span
                                    class="asteriskField"> * </span>
                            </label>
                            <div class="input-group datetimepicker" style="text-align: center; vertical-align: middle;">
                                <input class="form-control" id="dateEdit"
                                       name="dateEdit" type="text"
                                       required/>
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"> </span>
                                    </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-xs-3 control-label">Place <span
                                    class="asteriskField"> * </span>
                            </label>
                            <div class="col-xs-5">
                                <input class="form-control" name="placeEdit" id="placeEdit"
                                       value="" required type="text"
                                       aria-required="true" aria-describedby="name-format"/>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Assign form -->
<div class="container">
    <div class="modal fade" id="Assign" tabindex="-1" role="dialog"
         aria-labelledby="Login" aria-hidden="true">


        <div class="modal-dialog modal-sm-2">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Assign</h5>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="assignForm"
                          th:action="@{/assign-responsibility-card}" action="#"
                          class="form-horizontal">
                        <input type="hidden" name="responsibilityCardIdAssign"
                               id="responsibilityCardIdAssign" value=""/>
                        <div class="form-group" style="margin: 10px 10px 10px 10px;">
                            <label>Users <span
                                    class="asteriskField"> * </span>
                            </label>
                            <select id="newUserId"
                                    class="form-control" name="newUserId" required>
                                <option name="newUserId" selected value="-1">Select an user</option>
                                <option name="newUserId" th:each="usr : ${allUsers}"
                                        th:value="${usr.id}" th:text="${usr.firstName + ' ' + usr.lastName}">User
                                </option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Assign</button>
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="modal fade" id="updateCommentModal" tabindex="-1" role="dialog"
         aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm-2">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Edit your comment</h5>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="updateCommentForm"
                          th:action="@{/update-comment}" action="#"
                          class="form-horizontal">
                        <input type="hidden" name="updateCommentId"
                               id="updateCommentId"/>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Your new comment
                            </label>
                            <div class="col-xs-5">
                                <input class="form-control" id="updateCommentText" name="updateCommentText"
                                       value="" placeholder="Enter a comment"/>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <ul class="pager">
        <li><a th:href="@{/index}">&lt;&lt;&lt;Home</a></li>
        <!--     <li><a href="temp.html">All finished tasks</a></li> -->
    </ul>
</div>

<div>
    <footer class="footer-distributed">
        <div class="footer-left">

            <a href="#"><img class="logo" th:src="@{/images/logo.png}"
                             height="100" width="100"/></a>

            <p class="footer-links footer-company-about">
                <a th:href="@{/index.html}">Home</a> · <a
                    th:href="@{http://isd-soft.com/tech_blog/}">Blog</a>
            </p>

            <p class="footer-company-about">Copyright &copy; 2017, ISD. All
                rights reserved.</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="glyphicon glyphicon-map-marker" style="width: 38px; height: 38px;"></i>
                <p class="footer-company-about">
                    Str. Fierarilor 2 <br/>Chisinau 2001MD, Moldova
                </p>
            </div>

            <div>
                <i class="fa fa-phone" style="width: 38px; height: 38px;"></i>
                <p class="footer-company-about">+373 22 996 170</p>
            </div>

            <div>
                <i class="fa fa-envelope" style="width: 38px; height: 38px;"></i>
                <p class="footer-company-about">
                    <a href="mailto:isd@inthergroup.com">isd@inthergroup.com</a>
                </p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <br/> About the company<br/> ISD executes Java projects. For a
                very reasonable price customer gains access to our team of skilled
                professionals.

            </p>

            <div class="footer-icons">

                <a th:href="@{https://www.facebook.com/isdmoldova}"> <i
                        class="fa fa-facebook"></i>
                </a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i
                    class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>
</div>

</body>
</html>