<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial -scale =1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Career Levels - To Do Types</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet"
          th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}"/>

    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/footer-distributed-with-address-and-phones.css"
          th:href="@{/css/footer-distributed-with-address-and-phones.css}"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function changeFormValues(currentId) {
            document.getElementById('todoTypeIdUpdate').setAttribute('value',
                    document.getElementById("id-" + currentId).innerHTML);

            document.getElementById('todoNameUpdate').setAttribute('value',
                    document.getElementById("name-" + currentId).innerHTML);
        }
    </script>
    <script>
        function deleteTodoType(curId, todoTypeId) {
            var xhttp;
            xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/delete-todo-type?id=" + todoTypeId, true);
            xhttp.send();

            var element = document.getElementById('row-' + curId);
            element.parentNode.removeChild(element);
        }
    </script>

    <script type="text/javascript" charset="utf8"
            th:src="@{/DataTables-1.10.15/media/js/jquery.dataTables.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/DataTables-1.10.15/media/css/jquery.dataTables.css}">
    <script>
        $(function () {
            $("#myTable1").dataTable();
        })
    </script>


</head>

<body>
<div th:include="header :: headster"></div>

<div class="total_progress  ">
    <div class="column-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading" style="margin-bottom: 10px">
                <h3 class="panel-title">
                    <i class="fa fa-money fa-fw"></i>All todo types
                    <!--              <a class="btn1 icon-btn btn-success" href="#"> -->
                    <!--                <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span> -->
                    <!--                  Add -->
                    <!--              </a> -->
                    <button type="button"
                            class="btn1 icon-btn btn-success glyphicon btn-glyphicon glyphicon-plus img-circle text-success"
                            data-toggle="modal" data-target="#Add">Add
                    </button>
                </h3>

            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="myTable1" class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:id="'row-' + ${todoTypeStat.count}"
                            th:each="todoType, todoTypeStat : ${todoTypes}">
                            <td th:id="'id-' + ${todoTypeStat.count}"
                                th:text="${todoType.id}"></td>
                            <td th:id="'name-' + ${todoTypeStat.count}"
                                th:text="${todoType.name}"></td>
                            <td><a style="cursor: pointer;"> <span
                                    th:onclick="'javascript:changeFormValues(\'' + ${todoTypeStat.count} + '\');'"
                                    class="glyphicon glyphicon-pencil" data-toggle="modal"
                                    data-target="#Update"></span>
                            </a></td>
                            <td><a style="cursor: pointer;"
                                   th:onclick="'javascript:deleteTodoType(\'' + ${todoTypeStat.count} +'\',\''+ ${todoType.id} + '\');'">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add form -->
<div class="container">
    <div class="modal fade" id="Add" tabindex="-1" role="dialog"
         aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm-2">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Add</h5>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="updateForm" method="post" class="form-horizontal"
                          th:action="@{/create-todo-type}" action="#">


                        <div class="form-group">
                            <label class="col-xs-3 control-label">Name <span
                                    class="asteriskField"> * </span>
                            </label>
                            <div class="col-xs-5">
                                <input class="form-control" id="todoName" name="todoName"
                                       value="" required pattern="\b((?!=|\,|\.).)+(.)\b"
                                       aria-required="true" minlength="4" maxlength="30"
                                       aria-describedby="name-format" placeholder="Enter a name"/>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update form -->
<div class="container">
    <div class="modal fade" id="Update" tabindex="-1" role="dialog"
         aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm-2">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Update</h5>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="updateForm" method="post" class="form-horizontal"
                          th:action="@{/update-todo-type}" action="#">
                        <input type="hidden" name="todoTypeId" id="todoTypeIdUpdate"
                               value=""/>

                        <div class="form-group">
                            <label class="col-xs-3 control-label">Name <span
                                    class="asteriskField"> * </span>
                            </label>
                            <div class="col-xs-5">
                                <input class="form-control" id="todoNameUpdate"
                                       name="newTodoName" value="" pattern="\b((?!=|\,|\.).)+(.)\b"
                                       minlength="4" maxlength="30" aria-describedby="name-format"
                                       required placeholder="Enter a name"/>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <ul class="pager">
        <li><a th:href="@{/index}">&lt;&lt;&lt;Home</a></li>
        <!--     <li><a href="temp.html">All finished tasks</a></li> -->
    </ul>
</div>

<div>
    <footer class="footer-distributed">
        <div class="footer-left">

            <a href="#"><img class="logo" th:src="@{/images/logo.png}"
                             height="100" width="100"/></a>

            <p class="footer-links footer-company-about">
                <a th:href="@{/index.html}">Home</a> · <a
                    th:href="@{http://isd-soft.com/tech_blog/}">Blog</a>
            </p>

            <p class="footer-company-about">Copyright &copy; 2017, ISD. All
                rights reserved.</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="glyphicon glyphicon-map-marker" style="width: 38px; height: 38px;"></i>
                <p class="footer-company-about">
                    Str. Fierarilor 2 <br/>Chisinau 2001MD, Moldova
                </p>
            </div>

            <div>
                <i class="fa fa-phone" style="width: 38px; height: 38px;"></i>
                <p class="footer-company-about">+373 22 996 170</p>
            </div>

            <div>
                <i class="fa fa-envelope" style="width: 38px; height: 38px;"></i>
                <p class="footer-company-about">
                    <a href="mailto:isd@inthergroup.com">isd@inthergroup.com</a>
                </p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <br/> About the company<br/> ISD executes Java projects. For a
                very reasonable price customer gains access to our team of skilled
                professionals.

            </p>

            <div class="footer-icons">

                <a th:href="@{https://www.facebook.com/isdmoldova}"> <i
                        class="fa fa-facebook"></i>
                </a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i
                    class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>
</div>
</body>
</html>