<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE-edge" />
<meta name="viewport" content="width=device-width, initial -scale =1" />
<meta name="description" content="" />
<meta name="author" content="" />
	<title>Career Levels - All users</title>
	<link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
<link rel="stylesheet"
	th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}" />

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css"
	href="../static/css/footer-distributed-with-address-and-phones.css"
	th:href="@{/css/footer-distributed-with-address-and-phones.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script type="text/javascript" charset="utf8" th:src="@{/DataTables-1.10.15/media/js/jquery.dataTables.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/DataTables-1.10.15/media/css/jquery.dataTables.css}">
	<script>
		$(function(){
			$("#myTable2").dataTable();
		})
	</script>
<script type="text/javascript">
	function changeFormValues(currentId) {

		document.getElementById('userIdUpdate').setAttribute('value',
				document.getElementById("userId-" + currentId).innerHTML);

		document.getElementById('firstNameUpdate').setAttribute('value',
				document.getElementById("firstName-" + currentId).innerHTML);

		document.getElementById('lastNameUpdate').setAttribute('value',
				document.getElementById("lastName-" + currentId).innerHTML);

		document.getElementById('usernameUpdate').setAttribute('value',
				document.getElementById("username-" + currentId).innerHTML);

		document.getElementById('emailUpdate').setAttribute('value',
				document.getElementById("email-" + currentId).innerHTML);

		var valueToSelect = document.getElementById("careerLevelId-"
				+ currentId).value;
		var careerLevelIdSelect = document
				.getElementById('careerLevelIdUpdate');

		for (var i, j = 0; i = careerLevelIdSelect.options[j]; j++) {
			if (i.value == valueToSelect) {
				careerLevelIdSelect.selectedIndex = j;
				break;
			}
		}

		valueToSelect = document.getElementById("groupId-" + currentId).value;
		var groupIdSelect = document.getElementById('groupIdUpdate');

		for (var i, j = 0; i = groupIdSelect.options[j]; j++) {
			if (i.value == valueToSelect) {
				groupIdSelect.selectedIndex = j;
				break;
			}
		}
	}
</script>
<script>
	function deleteUser(curId, userId) {
		var xhttp;
		xhttp = new XMLHttpRequest();
		xhttp.open("GET", "/delete-user?id=" + userId, true);
		xhttp.send();

		var element = document.getElementById('row-' + curId);
		element.parentNode.removeChild(element);
	}
</script>
	<script>function sortTable(n){
		var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
		table = document.getElementById("myTable2");
		switching = true;
		//Set the sorting direction to ascending:
		dir = "asc";
		/*Make a loop that will continue until
		 no switching has been done:*/
		while (switching) {
			//start by saying: no switching is done:
			switching = false;
			rows = table.getElementsByTagName("TR");
			/*Loop through all table rows (except the
			 first, which contains table headers):*/
			for (i = 1; i < (rows.length - 1); i++) {
				//start by saying there should be no switching:
				shouldSwitch = false;
				/*Get the two elements you want to compare,
				 one from current row and one from the next:*/
				x = rows[i].getElementsByTagName("TD")[n];
				y = rows[i + 1].getElementsByTagName("TD")[n];
				/*check if the two rows should switch place,
				 based on the direction, asc or desc:*/
				if (dir == "asc") {
					if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
						//if so, mark as a switch and break the loop:
						shouldSwitch= true;
						break;
					}
				} else if (dir == "desc") {
					if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
						//if so, mark as a switch and break the loop:
						shouldSwitch= true;
						break;
					}
				}
			}
			if (shouldSwitch) {
				/*If a switch has been marked, make the switch
				 and mark that a switch has been done:*/
				rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
				switching = true;
				//Each time a switch is done, increase this count by 1:
				switchcount ++;
			} else {
				/*If no switching has been done AND the direction is "asc",
				 set the direction to "desc" and run the while loop again.*/
				if (switchcount == 0 && dir == "asc") {
					dir = "desc";
					switching = true;
				}
			}
		}
	}


</script>
</head>

<body>
<div th:include="header :: headster"></div>

	<div class="total_progress">
		<div class="column-lg-8">
			<div class="panel panel-primary">
				<div class="panel-heading" style="margin-bottom: 10px;">
					<h3 class="panel-title">
						<i class="fa fa-money fa-fw"></i>All users
						<!--              <a class="btn1 icon-btn btn-success" href="#"> -->
						<!--                <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span> -->
						<!--                  Add -->
						<!--              </a> -->
						<button type="button"
							class="btn1 icon-btn btn-success glyphicon btn-glyphicon glyphicon-plus img-circle text-success"
							data-toggle="modal" data-target="#Add">Add</button>
					</h3>
				</div>

				<div class="panel-body">
					<div class="table-responsive">
						<table id ="myTable2" class="table table-bordered table-hover table-striped">
							<thead>
								<tr>
									<th>ID</th>
									<th>First name</th>
									<th>Last name</th>
									<th>Username</th>
									<th>Email</th>
									<th>Career Level</th>
									<th>Group</th>
									<th>Edit</th>
									<th>Info</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr th:id="'row-' + ${userStat.count}"
									th:each="u, userStat : ${users}">
									<td th:id="'userId-' + ${userStat.count}" th:text="${u.id}"></td>
									<td th:id="'firstName-' + ${userStat.count}"
										th:text="${u.firstName}"></td>
									<td th:id="'lastName-' + ${userStat.count}"
										th:text="${u.lastName}"></td>
									<td th:id="'username-' + ${userStat.count}"
										th:text="${u.username}"></td>
									<td th:id="'email-' + ${userStat.count}"
										th:text="${u.email}"></td>
									<td th:text="${u.careerLevel.name}"></td>
									<input type="hidden"
										th:id="'careerLevelId-' + ${userStat.count}"
										th:value="${u.careerLevel.id}" />
									<td th:text="${u.group.role}"></td>
									<input type="hidden" th:id="'groupId-' + ${userStat.count}"
										th:value="${u.group.id}" />
									<td><a style="cursor: pointer;"> <span
											th:onclick="'javascript:changeFormValues(\'' + ${userStat.count} + '\');'"
											class="glyphicon glyphicon-pencil" data-toggle="modal"
											data-target="#Update"></span>
									</a></td>
									<td><a
										th:href="@{/users/progress-page/{id}/(id=${u.id})}"> <span
											class="glyphicon glyphicon-info-sign"></span>
									</a></td>
									<td><a style="cursor: pointer;"
										th:onclick="'javascript:deleteUser(\'' + ${userStat.count} +'\',\''+ ${u.id} + '\');'">
											<span class="glyphicon glyphicon-trash"></span>
									</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Add form -->
	<div class="container">
		<div class="modal fade" id="Add" tabindex="-1" role="dialog"
			aria-labelledby="Login" aria-hidden="true">
			<div class="modal-dialog modal-sm-2">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h5 class="modal-title">Add</h5>
					</div>

					<div class="modal-body">
						<!-- The form is placed inside the body of modal -->
						<form id="addForm" th:action="@{/create-user}" action="#"
							class="form-horizontal" method="post">
							<div class="form-group">
								<label class="col-xs-3 control-label">First Name <span
									class="asteriskField"> * </span>
								</label>
								<div class="col-xs-5">
									<input class="form-control" id="firstName" name="firstName"
										value="" required pattern="[a-zA-z]+[0-9]*([ '-][a-zA-Z]+)*"
										aria-required="true" minlength="4" maxlength="30"
										aria-describedby="name-format"
										title="Must begin with a letter." />
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-3 control-label">Last Name <span
									class="asteriskField"> * </span>
								</label>
								<div class="col-xs-5">
									<input class="form-control" id="lastName" name="lastName"
										value="" required pattern="[a-zA-z]+[0-9]*([ '-][a-zA-Z]+)*"
										aria-required="true" aria-describedby="name-format"
										minlength="4" maxlength="30" title="Must begin with a letter." />
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-3 control-label">Username <span
									class="asteriskField"> * </span>
								</label>
								<div class="col-xs-5">
									<input class="form-control" id="username" name="username"
										value="" required pattern="[0-9]*+[a-zA-z]([ '-][a-zA-Z]+)*"
										aria-required="true" minlength="4" maxlength="30"
										aria-describedby="name-format" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-3 control-label">Password <span
									class="asteriskField"> * </span>
								</label>
								<div class="col-xs-5">
									<input class="form-control" id="password" name="password"
										value="" required pattern="[0-9]*+[a-zA-z]([ '-][a-zA-Z]+)*"
										aria-required="true" minlength="4" maxlength="30"
										aria-describedby="name-format" type="password" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-3 control-label">Email <span
									class="asteriskField"> * </span>
								</label>
								<div class="col-xs-5">
									<input class="form-control" id="email" name="email" value=""
										required="required"
										pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
										aria-required="true" aria-describedby="name-format"
										placeholder="email@example.com" />
								</div>
							</div>

							<div class="form-group">
								<label for="careerLevelId" class="col-xs-3 control-label">Career
									Level <span class="asteriskField"> * </span>
								</label> 
								<div class="col-xs-5 selectContainer">
								<select name="careerLevelId" id="careerLevelId"
									class="form-control"
									required="required">
									<option value="">Select an item</option>
									<option th:each="careerLevel : ${careerLevels}"
										th:value="${careerLevel.id}" th:text="${careerLevel.name}">Career
										Level</option>
								</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-3 control-label">Group <span
									class="asteriskField"> * </span>
								</label>
								<div class="col-xs-5 selectContainer">
								 <select class="form-control" required
									name="groupId" id="groupId">
									<option value="">Select an item</option>
									<option th:each="group : ${groups}" th:value="${group.id}"
										th:text="${group.role}">Group</option>
								</select>
							  </div>	
							</div>
							<!--                     <div class="form-group"> -->
							<!--                         <div class="col-xs-5 col-xs-offset-3"> -->
							<!--                             <button type="submit" class="btn btn-primary">Login</button> -->
							<!--                             <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
							<!--                         </div> -->
							<!--                     </div> -->

							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Add</button>
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Cancel</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Update form -->
	<div class="container">
		<div class="modal fade" id="Update" tabindex="-1" role="dialog"
			aria-labelledby="Login" aria-hidden="true">



			<div class="modal-dialog modal-sm-2">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h5 class="modal-title">Update</h5>
					</div>

					<div class="modal-body">
						<!-- The form is placed inside the body of modal -->
						<form name="updateForm" id="updateForm" action="#"
							th:action="@{/update-user}" method="get" class="form-horizontal">
							<input type="hidden" name="id" id="userIdUpdate" value="" />
							<div class="form-group">
								<label class="col-xs-3 control-label">First Name <span
									class="asteriskField"> * </span>
								</label>
								<div class="col-xs-5">
									<input class="form-control" id="firstNameUpdate"
										name="firstName" value="" required="required"
										pattern="[a-zA-z]+[0-9]*([ '-][a-zA-Z]+)*" minlength="4"
										maxlength="30" aria-describedby="name-format"
										title="Must begin with a letter." />
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-3 control-label">Last Name <span
									class="asteriskField"> * </span>
								</label>
								<div class="col-xs-5">
									<input class="form-control" id="lastNameUpdate" name="lastName"
										value="" minlength="4" maxlength="30" required="required"
										pattern="[a-zA-z]+[0-9]*([ '-][a-zA-Z]+)*"
										aria-describedby="name-format"
										title="Must begin with a letter." />
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-3 control-label">Username <span
									class="asteriskField"> * </span>
								</label>
								<div class="col-xs-5">
									<input class="form-control" id="usernameUpdate" name="username"
										value="" minlength="4" maxlength="30" required="required"
										pattern="[0-9]*+[a-zA-z]([ '-][a-zA-Z]+)*"
										aria-describedby="name-format" title="" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-3 control-label">Email <span
									class="asteriskField"> * </span>
								</label>
								<div class="col-xs-5">
									<input class="form-control" id="emailUpdate" name="email"
										value="" required="required"
										pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
										aria-describedby="name-format" placeholder="email@example.com" />
								</div>
							</div>


							<div class="form-group">
								<label for="careerLevelId" class="col-xs-3 control-label">Career
									Level <span class="asteriskField"> * </span>
								</label>
								<div class="col-xs-5 selectContainer">
								 <select name="careerLevelId" id="careerLevelIdUpdate"
									class="form-control"
									required="required">
									<option value="">Select an item</option>
									<option th:each="careerLevel : ${careerLevels}"
										th:value="${careerLevel.id}" th:text="${careerLevel.name}">Career
										Level</option>
								</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-3 control-label">Group <span
									class="asteriskField"> * </span>
								</label> 
							<div class="col-xs-5 selectContainer">		
								<select class="form-control" required
									name="groupId" id="groupIdUpdate">
									<option value="">Select an item</option>
									<option th:each="group : ${groups}" th:value="${group.id}"
										th:text="${group.role}">Group</option>
								</select>
							</div>	
							</div>

							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Update</button>
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Cancel</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<ul class="pager">
			<li><a th:href="@{/index}">&lt;&lt;&lt;Home</a></li>
			<!--     <li><a href="temp.html">All finished tasks</a></li> -->
		</ul>
	</div>


	<!-- Footer -->
	<div>
		<footer class="footer-distributed">
		<div class="footer-left">

			<a href="#"><img class="logo" th:src="@{/images/logo.png}"
				height="100" width="100" /></a>

			<p class="footer-links footer-company-about">
				<a th:href="@{/index.html}">Home</a> · <a
					th:href="@{http://isd-soft.com/tech_blog/}">Blog</a>
			</p>

			<p class="footer-company-about">Copyright &copy; 2017, ISD. All
				rights reserved.</p>
		</div>

			<div class="footer-center">

				<div>
					<i class="glyphicon glyphicon-map-marker" style="width: 38px; height: 38px;"></i>
					<p class="footer-company-about">
						Str. Fierarilor 2 <br/>Chisinau 2001MD, Moldova
					</p>
				</div>

				<div>
					<i class="fa fa-phone" style="width: 38px; height: 38px;"></i>
					<p class="footer-company-about">+373 22 996 170</p>
				</div>

				<div>
					<i class="fa fa-envelope" style="width: 38px; height: 38px;"></i>
					<p class="footer-company-about">
						<a href="mailto:isd@inthergroup.com">isd@inthergroup.com</a>
					</p>
				</div>

			</div>

		<div class="footer-right">

			<p class="footer-company-about">
				<br /> About the company<br /> ISD executes Java projects. For a
				very reasonable price customer gains access to our team of skilled
				professionals.

			</p>

			<div class="footer-icons">

				<a th:href="@{https://www.facebook.com/isdmoldova}"> <i
					class="fa fa-facebook"></i>
				</a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i
					class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-github"></i></a>

			</div>

		</div>

		</footer>
	</div>
</body>
</html>
