<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial -scale =1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Career Levels - User Progress</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet"
          th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}"/>

    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/footer-distributed-with-address-and-phones.css"
          th:href="@{/css/footer-distributed-with-address-and-phones.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/cards_related.css"
          th:href="@{/css/cards_related.css}"/>

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!--  jQuery -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/javascript"
          href="../static/js/date.js" th:href="@{/static/js/date.js}"/>
    <!--formden.js communicates with FormDen server to validate fields and submit via AJAX -->
    <script type="text/javascript"
            src="https://formden.com/static/cdn/formden.js"></script>

    <!-- Special version of Bootstrap that is isolated to content wrapped in .bootstrap-iso -->
    <link rel="stylesheet"
          href="https://formden.com/static/cdn/bootstrap-iso.css"/>

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet"
          href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css"/>

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <!--  <script href="/js/handlebars.js" th:src="@{/js/handlebars.js}"></script> -->


    <script type="text/javascript" charset="utf8"
            th:src="@{/DataTables-1.10.15/media/js/jquery.dataTables.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/DataTables-1.10.15/media/css/jquery.dataTables.css}">
    <script>
        $(function showCongratulations() {
            var isReady = false;
            isReady = document.getElementById("isReady").value;
            if (isReady === "true") {
                $('#myBestModal').modal('show');
            }
        });
    </script>

    <script>
        $(function showWarningOrPromote() {
            $('#promoteButton').click(function () {
                var isReady = false;
                isReady = document.getElementById("isReady").value;
                if (isReady === "true") {
                    $('#promote').modal('show');
                } else {
                    $('#promoteNotAllowed').modal('show');
                }
            })

        });
    </script>
    <script>
        $(function () {
            $("#myTable1").dataTable();
        })
    </script>
    <script>
        $(function () {
            $("#myTable2").dataTable();
        })
    </script>
    <script>
        $(function () {
            $("#myTable3").dataTable();
        })
    </script>
    <script>
        $(function () {
            $("#myTable4").dataTable();
        })
    </script>
    <script>
        $(function () {
            $("#myTable5").dataTable();
        })
    </script>
    <script>
        $(document).ready(
                function () {
                    var date_input = $('input[name="dateOfCompletion"]'); //our date input has the name "dateOfCompletion"
                    var container = $('.bootstrap-iso form').length > 0 ? $(
                            '.bootstrap-iso form').parent() : "body";
                    date_input.datepicker({
                        format: 'yyyy/mm/dd',
                        container: container,
                        todayHighlight: true,
                        autoclose: true,
                    })
                })
    </script>
    <script type="text/javascript">
        var allRadios = document.getElementsByName('re');
        var booRadio;
        var x = 0;
        for (x = 0; x < allRadios.length; x++) {

            allRadios[x].onclick = function () {
                if (booRadio == this) {
                    this.checked = false;
                    booRadio = null;
                } else {
                    booRadio = this;
                }
            };
        }
    </script>
    <script type="text/javascript">
        function changeFormValues(currentId) {
            document.getElementById('todoIdUpdate').setAttribute('value',
                    document.getElementById("todoId-" + currentId).innerHTML);

            var valueToSelect = document.getElementById("task-" + currentId).value;
            var todoTypeIdSelect = document.getElementById('todoTypeIdUpdate');

            for (var i, j = 0; i = todoTypeIdSelect.options[j]; j++) {
                if (i.value == valueToSelect) {
                    todoTypeIdSelect.selectedIndex = j;
                    break;
                }
            }

            document.getElementById('descriptionUpdate').setAttribute('value',
                    document.getElementById("description-" + currentId).innerHTML);
            document
                    .getElementById('dateOfCompletionUpdate')
                    .setAttribute(
                            'value',
                            document
                                    .getElementById("dateOfCompletion-" + currentId).innerHTML);

        }
    </script>
    <script>
        function removeTodo(curId, userId, username, todoId, careerLevelId) {
            var xhttp;
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var element = document.getElementById('row-' + curId);
                    element.parentNode.removeChild(element);
                }
            };
            xhttp.open("GET", "/remove-todo-from-user?userId=" + userId
                    + "&username=" + username + "&todoId=" + todoId
                    + "&careerLevelId=" + careerLevelId, true);
            xhttp.send();
            location.reload();
        }
    </script>

    <script>
        function deleteEvent(eventId) {
            var xhttp;
            xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/remove-event?id="
                    + eventId, true);
            xhttp.send();

            var element = document.getElementById('row' + eventId);
            element.parentNode.removeChild(element);
        }
    </script>

</head>

<body>
<div th:include="header :: headster"></div>
<!-- <span th:text="${beans.myBean.getMessage()}">MyBean value</span> -->
<!-- <span th:text="${T(com.inthergroup.internship.beans.Helper).getMessage()}" >Static method value</span> -->

<div class="jumbotron text-center ">
    <h2>
        Progress of <span th:text="${user.firstName + ' ' + user.lastName}"
                          th:remove="tag">lastName firstName</span>
    </h2>
    <h3>
        Current level: <span th:text="${careerLevel.name}" th:remove="tag">career
				level name</span>. Current Progress: <span th:text="${userPercentProgress}" th:remove="tag"></span> %
    </h3>
    <h3>
        Mandatory Tasks: <span th:text="${userMandatoryTasksDone}" th:remove="tag"></span> / <span
            th:text="${userTotalTasks}" th:remove="tag"></span> ,
        Points: <span th:text="${achievedPoints}" th:remove="tag"></span> / <span
            th:text="${totalPoints}" th:remove="tag">
    </h3>
    <br/>
    <div th:if="${nextCareerLevelName != 'heaven'}">
        <button sec:authorize="hasAuthority('ADMIN')" type="button" class="btn btn-primary1" id="promoteButton">
            Promote
        </button>
    </div>
</div>

<input type="hidden" id="isReady" th:value="${isReady}"></input>

<div th:if="${#httpServletRequest.remoteUser == username}">
    <div class="modal fade" id="myBestModal" tabindex="-1" role="dialog" aria-labelledby="myBestModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-success ">
                    <h5 class="modal-title" id="congratulationModal">Congratulations</h5>
                </div>
                <div class="modal-body">
                    <p>Hey buddy, you`re ready to be promoted to the next level.</p>
                    <p>Wait for the admin`s approval.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="promote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-info">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
            </div>
            <div class="modal-body">
                Are you sure that you want to promote <span th:text="${user.firstName + ' ' + user.lastName}"
                                                            th:remove="tag">lastName firstName</span>?
                <h5 style="color: #2b2b2b">Current level: <span th:text="${careerLevel.name}" th:remove="tag">career
				level name</span>.</h5>
                <h5 style="color: #2b2b2b">Suggested next level: <span th:text="${nextCareerLevelName}" th:remove="tag">career
				level name</span>.</h5>
                <form id="promoteForm" th:action="@{/promote-user/{id}/(id=${userId})}" action="#"
                      class="form-horizontal" method="post">
                    <div class="form-group" style="margin: 10px 10px 10px 10px;">
                        <label for="newCareerLevelId">Career levels<span
                                class="asteriskField">*</span>
                        </label>
                        <h5 style="color: indianred;">Leave empty for the next level</h5>
                        <select id="newCareerLevelId"
                                class="form-control" name="newCareerLevelId" required>
                            <option name="newCareerLevelId" selected value="-1">Select an item</option>
                            <option name="newCareerLevelId" th:each="clid : ${careerLevels}"
                                    th:value="${clid.id}" th:text="${clid.name}">Level
                            </option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                        <button sec:authorize="hasAuthority('ADMIN')" type="submit" class="btn btn-primary1">Promote
                            user
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="promoteNotAllowed" tabindex="-1" role="dialog" aria-labelledby="promoteNotAllowedLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-danger">
                <h5 class="modal-title" id="promoteNotAllowedLabel">Ooops...</h5>
            </div>
            <div class="modal-body">
                <span th:text="${user.firstName + ' ' + user.lastName}"
                      th:remove="tag">lastName firstName</span> did not do all the tasks,
                are you sure that you want to promote him?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#promote"
                        data-dismiss="modal">Ok
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading" style="margin-bottom: 10px">
            <h3 class="panel-title">
                <i class="fa fa-money fa-fw"></i>To Do
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="myTable1" class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Points</th>
                        <th>Name</th>
                        <th>Mandatory</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="todo : ${todos}">
                        <td th:text="${todo[1].points}"></td>
                        <td th:text="${todo[0].name}"></td>
                        <td th:text="${todo[1].mandatory == 1} ? 'yes' : 'no'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading" style="margin-bottom: 10px">
            <h3 class="panel-title">
                <i class="fa fa-money fa-fw"></i>Finished
                <!-- 					               (<a th:href="@{/add-todo-to-user/{id}/(id=${userId})}"><span class = "glyphicon glyphicon-plus"></span> Add</a>) -->
                <span th:if="${#httpServletRequest.remoteUser == username}">
						<button type="button"
                                class="btn1 icon-btn btn-success glyphicon btn-glyphicon glyphicon-plus img-circle text-success"
                                data-toggle="modal" data-target="#Add">Add</button>
					</span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="myTable2" class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Todo Id</th>
                        <th>Task</th>
                        <th>Description</th>
                        <th>Date of completion</th>
                        <th th:if="${#authorization.expression('hasRole(''USER'')')} or ${#httpServletRequest.remoteUser == username}">
                            Edit
                        </th>
                        <th th:if="${#authorization.expression('hasRole(''USER'')')} or ${#httpServletRequest.remoteUser == username}">
                            Delete
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:id="'row-' + ${todoStat.count}"
                        th:each="todo, todoStat : ${finishedTodos}">
                        <td th:id="'todoId-' + ${todoStat.count}"
                            th:text="${todo[1].primaryKey.todoId}"></td>
                        <td th:text="${todo[0].name}"></td>
                        <input type="hidden" th:id="'task-' + ${todoStat.count}"
                               th:value="${todo[0].id}"/>
                        <td th:id="'description-' + ${todoStat.count}"
                            th:text="${todo[1].description}"></td>
                        <td th:id="'dateOfCompletion-' + ${todoStat.count}"
                            th:text="${#dates.format(todo[1].dateOfCompletion, 'yyyy/mm/dd')}"></td>
                        <td th:if="${#httpServletRequest.remoteUser == username}"><a
                                style="cursor: pointer;"> <span
                                th:onclick="'javascript:changeFormValues(\'' + ${todoStat.count} + '\');'"
                                class="glyphicon glyphicon-pencil" data-toggle="modal"
                                data-target="#Update"></span>
                        </a></td>
                        <td th:if="${#httpServletRequest.remoteUser == username}"><a
                                style="cursor: pointer;"
                                th:onclick="'javascript:removeTodo(\'' + ${todoStat.count} +'\',\''+ ${userId} +'\',\''+ ${#httpServletRequest.remoteUser} +'\',\''+ ${todo[1].primaryKey.todoId} +'\',\''+ ${todo[1].primaryKey.careerLevel.id} + '\');'">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="col-lg-12">
    <div class="panel panel-primary">
        <div class="panel-heading" style="margin-bottom: 10px">
            <h3 class="panel-title">
                <i class="fa fa-money fa-fw"></i>Responsibility cards
                <!--                              (<a th:href="@{/add-todo-to-user/{id}/(id=${userId})}"><span class = "glyphicon glyphicon-plus"></span> Add</a>) -->
                <span sec:authorize="hasAuthority('USER')" th:if="${#httpServletRequest.remoteUser == username}">
                <button type="button"
                        class="btn1 icon-btn btn-success glyphicon btn-glyphicon glyphicon-plus img-circle text-success"
                        data-toggle="modal" data-target="#card_req">Request
                </button>
                </span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="myTable3" class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Picture</th>
                        <th>User</th>
                        <th>Category</th>
                        <th>Description of responsibility</th>
                        <th>Expected result</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="card : ${cards}">
                        <td style="text-align: center;"><img class="respCardImage" th:src="${card.imagePath}"/></td>
                        <td th:text="${card.user.firstName} + ' ' + ${card.user.lastName}"></td>
                        <td th:text="${card.type}"></td>
                        <td th:text="${card.description}"></td>
                        <td th:text="${card.expectedResult}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Event table -->
<div class="col-lg-12">
    <div class="panel panel-primary">
        <div class="panel-heading" style="margin-bottom: 10px">
            <h3 class="panel-title">
                <i class="fa fa-money fa-fw"></i>Events I have joined
                <!--                              (<a th:href="@{/add-todo-to-user/{id}/(id=${userId})}"><span class = "glyphicon glyphicon-plus"></span> Add</a>) -->
                <span sec:authorize="hasAuthority('USER')" th:if="${#httpServletRequest.remoteUser == username}">
                <!--<button type="button"-->
                        <!--class="btn1 icon-btn btn-success glyphicon btn-glyphicon glyphicon-plus img-circle text-success"-->
                        <!--data-toggle="modal" data-target="#card_req">Request-->
                <!--</button>-->
                </span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="myTable5" class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Place</th>
                        <th>Participants</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="availableEvent : ${events}">

                        <td th:text="${availableEvent.id}"></td>
                        <td th:text="${availableEvent.name}"></td>
                        <td th:text="${availableEvent.description}"></td>
                        <td th:text="${availableEvent.date}"></td>
                        <td th:text="${availableEvent.place}"></td>
                        <td>
                        <div style="height: 100px; overflow: auto">
                            <span th:text="'Author : ' + ${availableEvent.userAuthor.firstName} + ' ' + ${availableEvent.userAuthor.lastName}"></span><br>
                            Attenders :
                            <ul>
                                <li th:each="att : ${attenders}"
                                    th:if="${(att[0] == availableEvent.id) and (att[1].id != availableEvent.userAuthor.id) and(availableEvent.userAuthor.id != userId)}"
                                    th:text="${att[1].firstName} + ' ' + ${att[1].lastName}">
                                </li>
                            </ul>
                        </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>



<!-- Add form -->
<div class="container">
    <!-- Trigger the modal with a button -->
    <!--   <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

    <div class="modal fade" id="card_req" tabindex="-1" role="dialog"
         aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm-2">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Available responsibility cards</h4>
                    <h6>Check the field you are interested in</h6>
                </div>

                <form method="post" th:action="@{/add-request-resp-card/{id}/(id=${userId})}">
                    <div id="scroll_modal">
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table id="myTable4" class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Requested</th>
                                        <th>Type</th>
                                        <th>Description of responsibility</th>
                                        <th>Expected result</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="crd : ${availableCards}">
                                        <td>
                                            <div class="radio radio_align">
                                                <input type="radio" id="reqCardId" name="reqCardId" th:value="${crd.id}">
                                            </div>
                                        </td>
                                        <td th:text="${crd.type}"></td>
                                        <td th:text="${crd.description}"></td>
                                        <td th:text="${crd.expectedResult}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Send</button>
                        <button type="button" class="btn btn-primary"
                                data-dismiss="modal">Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Add" tabindex="-1" role="dialog"
         aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm-2">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Add</h5>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="addForm"
                          th:action="@{/add-todo-to-user/{id}/(id=${userId})}" action="#"
                          class="form-horizontal" method="post">

                        <!-- Pass username -->
                        <input type="hidden" name="username"
                               th:value="${#httpServletRequest.remoteUser}"/>

                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="todoId">Title
                                <span class="asteriskField">*</span>
                            </label>
                            <div class="col-xs-5">
                                <input class="form-control" placeholder="Title" type="text"
                                       name="todoId" id="todoId" required
                                       pattern="\b((?!=|\,|\.).)+(.)\b" aria-required="true"
                                       aria-describedby="name-format"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="description">Description</label>
                            <div class="col-xs-5">
                                <input class="form-control" placeholder="Description"
                                       type="text" name="description" id="description"
                                       aria-required="true" aria-describedby="name-format"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="todoTypeId">Task
                                type <span class="asteriskField">*</span>
                            </label>
                            <div class="col-xs-5 selectContainer">
                                <select name="todoTypeId" id="todoTypeId"
                                        class="form-control" required>
                                    <option value="">Select an item</option>
                                    <option th:each="clt : ${careerLevelTodoTypes}"
                                            th:value="${clt.id}" th:text="${clt.name}">Task
                                        type
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group ">

                            <label class="col-xs-3 control-label" for="date"> Date <span
                                    class="asteriskField"> * </span>
                            </label>
                            <div class="calendar">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"> </i>
                                    </div>
                                    <input class="form-control1" id="dateOfCompletion"
                                           name="dateOfCompletion" placeholder="yyyy/mm/dd" type="text"
                                           required/>
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-primary"
                                    data-dismiss="modal">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update form -->
<div class="container">
    <!-- Trigger the modal with a button -->
    <!--   <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Update">Open Modal</button> -->

    <div class="modal fade" id="Update" tabindex="-1" role="dialog"
         aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm-2">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Update</h5>
                </div>

                <div class="modal-body">
                    <!-- The form is placed inside the body of modal -->
                    <form id="updateForm"
                          th:action="@{/update-todo-for-user/{id}/(id=${userId})}"
                          action="#" class="form-horizontal" method="post">

                        <!-- Pass username -->
                        <input type="hidden" name="username"
                               th:value="${#httpServletRequest.remoteUser}"/>

                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="todoId">Title</label>
                            <div class="col-xs-5">
                                <input class="form-control" placeholder="Title"
                                       value="Old Value" type="text" name="todoId" id="todoIdUpdate"
                                       readonly="readonly" required pattern="\b((?!=|\,|\.).)+(.)\b"
                                       aria-required="true" aria-describedby="name-format"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="description">Description</label>
                            <div class="col-xs-5">
                                <input class="form-control" placeholder="Description"
                                       value="Old Description" type="text" name="description"
                                       id="descriptionUpdate" aria-required="true"
                                       aria-describedby="name-format"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="todoTypeIdUpdate">Task
                                type <span class="asteriskField">*</span>
                            </label>
                            <div class="col-xs-5 selectContainer">
                                <select name="todoTypeId" id="todoTypeIdUpdate"
                                        class="form-control" required>
                                    <option th:each="todoType : ${todoTypes}"
                                            th:value="${todoType.id}" th:text="${todoType.name}">Course
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="col-xs-3 control-label" for="date"> Date <span
                                    class="asteriskField"> * </span>
                            </label>
                            <div class="calendar">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"> </i>
                                    </div>
                                    <input class="form-control1" id="dateOfCompletionUpdate"
                                           name="dateOfCompletion" placeholder="yyyy/mm/dd" type="text"
                                           required/>
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button type="button" class="btn btn-primary"
                                    data-dismiss="modal">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <ul class="pager">
        <li><a th:href="@{/index}">&lt;&lt;&lt; Home</a></li>
        <li><a th:href="@{/users/total-progress/{id}/(id=${userId})}">
            All finished tasks &gt;&gt;&gt;</a></li>
    </ul>
</div>

<div>
    <footer class="footer-distributed">
        <div class="footer-left">

            <a href="#"><img class="logo" th:src="@{/images/logo.png}"
                             height="100" width="100"/></a>

            <p class="footer-links footer-company-about">
                <a th:href="@{/index.html}">Home</a> · <a
                    th:href="@{http://isd-soft.com/tech_blog/}">Blog</a>
            </p>

            <p class="footer-company-about">Copyright &copy; 2017, ISD. All
                rights reserved.</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="glyphicon glyphicon-map-marker" style="width: 38px; height: 38px;"></i>
                <p class="footer-company-about">
                    Str. Fierarilor 2 <br/>Chisinau 2001MD, Moldova
                </p>
            </div>

            <div>
                <i class="fa fa-phone" style="width: 38px; height: 38px;"></i>
                <p class="footer-company-about">+373 22 996 170</p>
            </div>

            <div>
                <i class="fa fa-envelope" style="width: 38px; height: 38px;"></i>
                <p class="footer-company-about">
                    <a href="mailto:isd@inthergroup.com">isd@inthergroup.com</a>
                </p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <br/> About the company<br/> ISD executes Java projects. For a
                very reasonable price customer gains access to our team of skilled
                professionals.

            </p>

            <div class="footer-icons">

                <a th:href="@{https://www.facebook.com/isdmoldova}"> <i
                        class="fa fa-facebook"></i>
                </a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i
                    class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>
</div>
</body>
</html>
