<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial -scale =1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Career Levels - Progress</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet"
          th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}"/>

    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/footer-distributed-with-address-and-phones.css"
          th:href="@{/css/footer-distributed-with-address-and-phones.css}"/>
</head>
<body>
<div th:include="header :: headster"></div>
<div class="jumbotron text-center">
    <h2>
        Total progress of <span
            th:text="${user.firstName + ' ' + user.lastName}" th:remove="tag">lastName
				firstName</span>
    </h2>
    <h3>
        Current level: <span th:text="${careerLevel.name}" th:remove="tag">career
				level name</span>
    </h3>

</div>
<div class="total_progress  ">
    <div class="coll-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-money fa-fw"></i>All finished tasks
                </h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Career Level</th>
                            <th>Todo Id</th>
                            <th>Task</th>
                            <th>Description</th>
                            <th>Date of completion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--                    <tr th:each = "task:${tasks}"> -->
                        <!--                     <td th:text = "${task.id}"></td> -->
                        <!--                     <td th:text = "${task.name}"></td> -->
                        <!--                     <td th:text = "${task.description}"></td> -->
                        <!--                     <td th:text = "${#dates.format(task.dateCreated, 'dd-MM-yyyy')}"></td> -->
                        <!--                     <td th:text = "${task.finished}"></td> -->
                        <!--                     <td><a th:href="@{/task(id=${task.id})}"><span class = "glyphicon glyphicon-ok"></span></a></td> -->
                        <!--                     <td><a th:href="@{/updateTask(id=${task.id})}"><span class = "glyphicon glyphicon-pencil"></span></a></td> -->
                        <!--                     <td><a th:href="@{/deleteTask(id=${task.id})}"><span class = "glyphicon glyphicon-trash"></span></a></td> -->
                        <!--                    </tr>              -->
                        <tr th:each="todo : ${allFinishedTodos}">
                            <td th:text="${todo[1].primaryKey.careerLevel.name}"></td>
                            <td th:text="${todo[1].primaryKey.todoId}"></td>
                            <td th:text="${todo[0].name}"></td>
                            <td th:text="${todo[1].description}"></td>
                            <td th:text="${todo[1].dateOfCompletion}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--                <div class="container"> -->
                    <!--                  <ul class ="nav nav-pills"> -->
                    <!--                    <li th:class="${status.index}==${pageCourantetasks}?active:''" th:each= "p, status:${pagesTasks}"> -->
                    <!--                      <a th:href="@{/index(pageTasks=${status.index})}" th:text="${status.index}"></a> -->
                    <!--                    </li> -->
                    <!--                  </ul> -->
                    <!--                </div> -->
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <ul class="pager">
        <li><a th:href="@{/users/progress-page/{id}/(id=${userId})}">&lt;&lt;&lt;
            Previous page</a></li>
    </ul>
</div>

<div>
    <footer class="footer-distributed">
        <div class="footer-left">

            <a href="#"><img class="logo" th:src="@{/images/logo.png}"
                             height="100" width="100"/></a>

            <p class="footer-links footer-company-about">
                <a th:href="@{/index.html}">Home</a> · <a
                    th:href="@{http://isd-soft.com/tech_blog/}">Blog</a>
            </p>

            <p class="footer-company-about">Copyright &copy; 2017, ISD. All
                rights reserved.</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="glyphicon glyphicon-map-marker" style="width: 38px; height: 38px;"></i>
                <p class="footer-company-about">
                    Str. Fierarilor 2 <br/>Chisinau 2001MD, Moldova
                </p>
            </div>

            <div>
                <i class="fa fa-phone" style="width: 38px; height: 38px;"></i>
                <p class="footer-company-about">+373 22 996 170</p>
            </div>

            <div>
                <i class="fa fa-envelope" style="width: 38px; height: 38px;"></i>
                <p class="footer-company-about">
                    <a href="mailto:isd@inthergroup.com">isd@inthergroup.com</a>
                </p>
            </div>

        </div>
        <div class="footer-right">

            <p class="footer-company-about">
                <br/> About the company<br/> ISD executes Java projects. For a
                very reasonable price customer gains access to our team of skilled
                professionals.

            </p>

            <div class="footer-icons">

                <a th:href="@{https://www.facebook.com/isdmoldova}"> <i
                        class="fa fa-facebook"></i>
                </a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i
                    class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>
</div>
</body>
</html>
