<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE-edge" />
	<meta name="viewport" content="width=device-width, initial -scale =1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Career Levels - Log in</title>
	<link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
	<link rel="stylesheet"
		  th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}" />

	<link rel="stylesheet" type="text/css"
		  href="../static/css/bootstrap.min.css"
		  th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" href="../static/css/style.css"
		  th:href="@{/css/style.css}" />
	<link rel="stylesheet" type="text/css"
		  href="../static/css/footer-distributed-with-address-and-phones.css"
		  th:href="@{/css/footer-distributed-with-address-and-phones.css}" />
	<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/index}"><img class="logo"
															 th:src="@{/images/logo.png}" height="50" width="50" /></a>
		</div>
	</div>
</nav>

<div class="container">
	<form class="well form-horizontal"
		  action="#">
		<fieldset>

			<!-- Form Name -->
			<legend>Error.</legend>
			<h1 style="color: indianred; text-align:center; margin-bottom: 10px;">Something went wrong.</h1>
			<br>
			<h2 th:text="${message}"></h2>
			<a style="text-align:center;" th:href="@{/index}" type="submit" class="btn btn-warning">
				<span class="glyphicon glyphicon-chevron-left"></span> Back
			</a>
		</fieldset>
	</form>
</div>

<div>
	<footer class="footer-distributed">
		<div class="footer-left">

			<a href="#"><img class="logo" th:src="@{/images/logo.png}"
							 height="100" width="100" /></a>

			<p class="footer-links footer-company-about">
				<a th:href="@{/index.html}">Home</a> · <a
					th:href="@{http://isd-soft.com/tech_blog/}">Blog</a>
			</p>

			<p class="footer-company-about">Copyright &copy; 2017, ISD. All
				rights reserved.</p>
		</div>

		<div class="footer-center">

			<div>
				<i class="glyphicon glyphicon-map-marker" style="width: 38px; height: 38px;"></i>
				<p class="footer-company-about">
					Str. Fierarilor 2 <br/>Chisinau 2001MD, Moldova
				</p>
			</div>

			<div>
				<i class="fa fa-phone" style="width: 38px; height: 38px;"></i>
				<p class="footer-company-about">+373 22 996 170</p>
			</div>

			<div>
				<i class="fa fa-envelope" style="width: 38px; height: 38px;"></i>
				<p class="footer-company-about">
					<a href="mailto:isd@inthergroup.com">isd@inthergroup.com</a>
				</p>
			</div>

		</div>

		<div class="footer-right">

			<p class="footer-company-about">
				<br /> About the company<br /> ISD executes Java projects. For a
				very reasonable price customer gains access to our team of skilled
				professionals.

			</p>

			<div class="footer-icons">

				<a th:href="@{https://www.facebook.com/isdmoldova}"> <i
						class="fa fa-facebook"></i>
				</a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i
					class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-github"></i></a>

			</div>

		</div>

	</footer>
</div>

</body>
</html>