<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial -scale =1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Career Levels - Home</title>

</head>
<body>
<div th:fragment="headster">
    <div sec:authorize="isAuthenticated()" class="container">
        <div class="modal fade" id="joinEventModal" tabindex="-1" role="dialog"
             aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm-2">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title">Join</h5>
                    </div>

                    <div class="modal-body">
                        <!-- The form is placed inside the body of modal -->
                        <form id="joinEventForm"
                              th:action="@{/join-event}" action="#"
                              class="form-horizontal">
                            <input type="hidden" name="joinEventId"
                                   id="joinEventId"/>
                            <input type="hidden" name="joinUserId" id="joinUserId" th:value="${currentUser.id}">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Leave a comment
                                </label>
                                <div class="col-xs-5">
                                    <input class="form-control" id="joinCommentText" name="joinCommentText"
                                           value=""  placeholder="Enter a comment"/>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Join</button>
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).on("click", ".openJoinModal", function (e) {

            e.preventDefault();

            var _self = $(this);

            var myEventId = _self.data('id');
            $("#joinEventId").val(myEventId);

            $(_self.attr('href')).modal('show');
        });
    </script>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/index}"><img class="logo"
                                                                 th:src="@{/images/logo.png}" height="50"
                                                                 width="50"/></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/index}">Home</a></li>

                <div sec:authorize="hasAuthority('ADMIN')" class="dropdown">
                    <button class="dropbtn">
                        <li>Administration<span class="caret"></span></li>
                    </button>

                    <div class="dropdown-content">
                        <li><a th:href="@{/users/all-users}">All users</a></li>
                        <li><a th:href="@{/todos/all-tasks}">All tasks</a></li>
                        <li><a th:href="@{/benefits/all-benefits}">All benefits</a></li>
                        <!--             <li role="separator" class="divider"></li> -->
                        <li><a th:href="@{/todos/todo-type}">All todo types</a></li>
                        <!--             <li role="separator" class="divider"></li> -->
                        <li><a th:href="@{/benefits/benefit-type}">All benefit
                            types</a></li>
                        <li><a th:href="@{/cards/all-cards}">All cards</a></li>
                        <li><a th:href="@{/cards/history-cards}">History of card`s assignment</a></li>
                        <li><a th:href="@{/events/all-events}">Events</a></li>
                    </div>
                </div>
                <div sec:authorize="hasAuthority('USER')" class="dropdown">
                    <button class="dropbtn">
                        <li>Menu<span class="caret"></span></li>
                    </button>

                    <div class="dropdown-content">
                        <li><a th:href="@{/cards/history-cards}">History of card`s assignment</a></li>
                        <li><a th:href="@{/events/all-events}">Events</a></li>
                    </div>
                </div>
                <div sec:authorize="hasAuthority('USER')" class="dropdown">
                    <button class="dropbtn">
                        <li>Notifications<span class="caret"></span></li>
                    </button>

                    <div th:if="${#lists.isEmpty(eventNotifications)}"
                         class="dropdown-content cool-scrollable-menu"
                         style="width: 200px; padding: 15px 15px 15px 15px;">
                        <li style="border: 1px solid black; border-radius: 6px; padding: 5px 5px 5px 5px; margin-bottom: 5px; margin-top: 5px; ">
                            <h4 style="color: indianred;">There are no notifications at the moment</h4>
                        </li>
                    </div>
                    <div th:if="${not #lists.isEmpty(eventNotifications)}"
                         class="dropdown-content cool-scrollable-menu"
                         style="width: 200px; padding: 15px 15px 15px 15px;">
                        <li style="border: 1px solid cornflowerblue; border-radius: 6px; padding: 5px 5px 5px 5px; margin-bottom: 5px; margin-top: 5px; "
                            th:each="en : ${eventNotifications}">
                            <span th:text="${en[1].firstName + ' ' + en[1].lastName + ' created event ' + en[2].name +' at '+ en[2].place + ' ' + en[2].date +'.'}"></span>
                            <div class="d-inline-block">
                                <button style="width: 70px;" th:attr="data-id=${en[2].id}"
                                        class="openJoinModal btn btn-success" href="#joinEventModal">
                                    Join
                                </button>
                            </div>
                            <div class="d-inline-block">
                                <form id="denyForm"
                                      th:action="@{/deny-event}" action="#"
                                      class="form-horizontal">
                                    <input type="hidden" name="denyEventId"
                                           id="denyEventId" th:value="${en[2].id}"/>
                                    <input type="hidden" name="denyUserId" id="denyUserId" th:value="${currentUser.id}">
                                    <button style="width: 70px;" sec:authorize="hasAuthority('USER')" type="submit"
                                            class="btn btn-danger">
                                        Deny
                                    </button>
                                </form>
                            </div>

                        </li>
                    </div>
                </div>
                <div sec:authorize="hasAuthority('ADMIN')" class="dropdown">
                    <button class="dropbtn">
                        <li>Notifications<span class="caret"></span></li>
                    </button>

                    <div th:if="${#lists.isEmpty(notifications)} or ${#lists.isEmpty(reqNotifications)} or ${#lists.isEmpty(eventNotifications)}"
                         class="dropdown-content cool-scrollable-menu"
                         style="width: 200px; padding: 15px 15px 15px 15px;">
                        <li style="border: 1px solid black; border-radius: 6px; padding: 5px 5px 5px 5px; margin-bottom: 5px; margin-top: 5px; ">
                            <h4 style="color: indianred;">There are no notifications at the moment</h4>
                        </li>
                    </div>
                    <div th:if="${not #lists.isEmpty(notifications)} or ${not #lists.isEmpty(reqNotifications)} or ${not #lists.isEmpty(eventNotifications)}"
                         class="dropdown-content cool-scrollable-menu"
                         style="width: 200px; padding: 15px 15px 15px 15px;">
                        <li style="border: 1px solid black; border-radius: 6px; padding: 5px 5px 5px 5px; margin-bottom: 5px; margin-top: 5px; "
                            th:each="n : ${notifications}">
                            <span th:text="${n[1] + ' ' + n[2] + ' is ready to be promoted.'}"></span>
                            <a sec:authorize="hasAuthority('ADMIN')" type="button" class="btn btn-primary1"
                               th:href="@{/users/progress-page/{id}/(id=${n[0]})}">
                                Promote
                            </a>
                        </li>
                        <li style="border: 2px dashed #a94442; border-radius: 6px; padding: 5px 5px 5px 5px; margin-bottom: 5px; margin-top: 5px; "
                            th:each="n : ${reqNotifications}">
                            <span th:text="${n[1] + ' ' + n[2] + ' wants to get ['+ n[4] +'] responsibility card.'}"></span>
                            <form id="assignForm"
                                  th:action="@{/assign-responsibility-card}" action="#"
                                  class="form-horizontal">
                                <input type="hidden" name="responsibilityCardIdAssign"
                                       id="responsibilityCardIdAssign" th:value="${n[5]}"/>
                                <input type="hidden" name="newUserId" id="newUserId" th:value="${n[0]}">
                                <button sec:authorize="hasAuthority('ADMIN')" type="submit" class="btn btn-primary">
                                    Assign
                                </button>
                            </form>
                        </li>

                        <li style="border: 1px solid cornflowerblue; border-radius: 6px; padding: 5px 5px 5px 5px; margin-bottom: 5px; margin-top: 5px; "
                            th:each="en : ${eventNotifications}">
                            <span th:text="${en[1].firstName + ' ' + en[1].lastName + ' created event ' + en[2].name +' at '+ en[2].place + ' ' + en[2].date +'.'}"></span>
                            <div class="d-inline-block">
                                <button style="width: 70px;" th:attr="data-id=${en[2].id}"
                                        class="openJoinModal btn btn-success" href="#joinEventModal">
                                    Join
                                </button>
                            </div>
                            <div class="d-inline-block">
                                <form id="denyForm"
                                      th:action="@{/deny-event}" action="#"
                                      class="form-horizontal">
                                    <input type="hidden" name="denyEventId"
                                           id="denyEventId" th:value="${en[2].id}"/>
                                    <input type="hidden" name="denyUserId" id="denyUserId" th:value="${currentUser.id}">
                                    <button style="width: 70px;" sec:authorize="hasAuthority('ADMIN')" type="submit"
                                            class="btn btn-danger">
                                        Deny
                                    </button>
                                </form>
                            </div>

                        </li>
                    </div>
                </div>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:if="${#httpServletRequest.remoteUser != null}">
                    <form th:action="@{/users/progress-page/{id}/(id=${currentUser.id})}">
                        <button type="submit" class="btn btn-link">
                            <span class="glyphicon glyphicon-user"></span><span
                                th:text="' ' + ${currentUser.lastName} + ' ' + ${currentUser.firstName} + '`s profile'"></span>
                        </button>
                    </form>
                </a></li>
                <li><a th:if="${#httpServletRequest.remoteUser != null}">
                    <form th:action="@{/logout}" method="post" id="logoutForm">
                        <button type="submit" form="logoutForm" class="btn btn-link">
                            <span class="glyphicon glyphicon-log-out"></span> Log Out
                        </button>
                    </form>
                </a></li>
                <li th:if="${#httpServletRequest.remoteUser == null}"><a
                        th:href="@{/signup}"><span class="glyphicon glyphicon-user"></span>
                    Sign Up </a></li>
                <li th:if="${#httpServletRequest.remoteUser == null}"><a
                        th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>
                    Login </a></li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>