<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" /> -->
    <!-- <meta charset="UTF-8" /> -->
    <!-- <title>HELLO</title> -->
    <!-- <link rel="stylesheet" -->
    <!-- 	th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}" /> -->
    <!-- <link rel="stylesheet" type="text/css" -->
    <!-- 	href="../static/css/bootstrap.min.css" -->
    <!-- 	th:href="@{/css/bootstrap.min.css}" /> -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial -scale =1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Career Levels - Home</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet"
          th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/footer-distributed-with-address-and-phones.css"
          th:href="@{/css/footer-distributed-with-address-and-phones.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="header :: headster"></div>
<div class="img"></div>
<div class="row">
    <div style="margin-bottom: 180px;"
         th:class="'col-sm-6 col-md-4 col-xs-7 col-lg-3   panel panel-default panel-body careerLevel careerLevel' + ${clStat.count}"
         th:each="cl : ${careerLevels}">
        <!-- 		<div class="varf" > </div>  -->
        <div th:class="'benefits benefits' + ${clStat.count}" valign="top">
            <div th:class="'top top' + ${clStat.count}"></div>
            <div th:class="'cl_Name cl_Name' + ${clStat.count}"
                 th:text="${cl.name}"></div>
            <br/>
            <div class="ben_title">Benefits</div>
            <br/>
            <div>
                <ul class="benefitName flexcroll">
                    <li th:each="b : ${benefits[clStat.index]}"
                        th:text="${b[0] + ' ' + b[1]}"></li>
                </ul>
                <div th:class="'guys guys' + ${clStat.count}"></div>
            </div>
        </div>

        <div style="overflow-y: scroll; overflow-x: hidden; position: relative;"
             th:class="'users flexcroll users' + ${clStat.count}"
             valign="top">
            <ul class="usersName" th:each="u : ${users[clStat.index]}" style="z-index:9999; padding-left: 15px;">
                <a class="t" th:href="@{users/progress-page/{id}/(id=${u.id})}">
                    <div class="con-tooltip right">
                        <li class="user" th:text="${u.firstName} + ' ' + ${u.lastName}"></li>
                        <div class="tooltip"
                             style="text-align: center; width: 150px; padding-top: 5px;">
                            <h5 style="text-align: left;"><i class="glyphicon glyphicon-info-sign"></i> Information:
                            </h5>
                            <div th:text="'Tasks: ' + ${userTaskDone['__${u.id}__']} + ' / ' + ${userTaskToBeDone['__${u.id}__']} + '.'">
                            </div>
                            <div th:text="'Points: ' + ${mapOfPointsOfFinishedTasks['__${u.id}__']} + ' / ' + ${mapOfPointsToPass['__${u.id}__']} + '.'">
                            </div>
                            <hr style="margin-top: 5px;margin-bottom: 5px;">
                            Current Progress
                            <div
                                    th:text="${usersPercentProgress['__${u.id}__']} + '%'">
                            </div>
                            <div class="progress" style="margin-top: 5px;">
                                <div class="progress-bar progress-bar-striped active"
                                     role="progressbar" aria-valuenow="45" aria-valuemin="0"
                                     aria-valuemax="100"
                                     th:attr="style='width: ' + ${usersPercentProgress['__${u.id}__']} + '%'">
                                    <span class="sr-only">45% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </ul>
        </div>

        <div th:class="'todos todos' + ${clStat.count}" valign="top">

            <div class="tod-title" th:if="${clStat.count == 1}">
                <b>To Do (Mandatory)</b>
            </div>
            <div class="tod-title" th:if="${clStat.count == 2}">
                <b>To Do (Mandatory) <span class="label label-success">50</span></b>
            </div>
            <div class="tod-title" th:if="${clStat.count == 3}">
                <b>To Do (Mandatory) <span class="label label-success">100</span></b>
            </div>
            <div class="tod-title" th:if="${clStat.count == 4}">
                <b>To Do (Mandatory) <span class="label label-success">150</span></b>
            </div>
            <div class="tod-title" th:if="${clStat.count == 5}">
                <b>To Do (Mandatory) <span class="label label-success">150</span></b>
            </div>
            <br/>
            <ul class="todosName flexcroll1" style="margin-left: 5%;">
                <li class="task" th:each="t : ${mTodos[clStat.index]}"
                    th:text="${'(' + t[0] + ')'  + ' ' + t[2]}"></li>
            </ul>
        </div>
        <div th:class="'optional optional' + ${clStat.count}" valign="top">
            <div class="optional-title">
                <b>Optional</b>
            </div>
            <br/>
            <ul class="optionalName flexcroll1" style="margin-left: 5%;">
                <li class="task" th:each="t : ${oTodos[clStat.index]}"
                    th:text="${'(' + t[0] + ')' + ' ' + t[2]}"></li>
            </ul>
        </div>
    </div>
</div>

<div>
    <footer class="footer-distributed">
        <div class="footer-left">

            <a href="#"><img class="logo" th:src="@{/images/logo.png}"
                             height="100" width="100"/></a>

            <p class="footer-links footer-company-about">
                <a th:href="@{/index.html}">Home</a> · <a
                    th:href="@{http://isd-soft.com/tech_blog/}">Blog</a>
            </p>

            <p class="footer-company-about">Copyright &copy; 2017, ISD. All
                rights reserved.</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="glyphicon glyphicon-map-marker" style="width: 38px; height: 38px;"></i>
                <p class="footer-company-about">
                    Str. Fierarilor 2 <br/>Chisinau 2001MD, Moldova
                </p>
            </div>

            <div>
                <i class="fa fa-phone" style="width: 38px; height: 38px;"></i>
                <p class="footer-company-about">+373 22 996 170</p>
            </div>

            <div>
                <i class="fa fa-envelope" style="width: 38px; height: 38px;"></i>
                <p class="footer-company-about">
                    <a href="mailto:isd@inthergroup.com">isd@inthergroup.com</a>
                </p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <br/> About the company<br/> ISD executes Java projects. For a
                very reasonable price customer gains access to our team of skilled
                professionals.

            </p>

            <div class="footer-icons">

                <a th:href="@{https://www.facebook.com/isdmoldova}"> <i
                        class="fa fa-facebook"></i>
                </a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i
                    class="fa fa-linkedin"></i></a> <a href="#"><i
                    class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>
</div>

</body>
</html>
